<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638915768573-h93dtoa2gmsi4rnbb8dggc0caj94f90d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638915768573-h93dtoa2gmsi4rnbb8dggc0caj94f90d</string>
	<key>API_KEY</key>
	<string>AIzaSyCPklpR3ipOCNBweLPSJxBX9i9XxNIAtpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>638915768573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatify</string>
	<key>PROJECT_ID</key>
	<string>chatify-f325c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-f325c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638915768573:ios:3886d2774e6c077e25ce94</string>
</dict>
</plist>